include LICENSE
include README.rst
include CHANGELOG.rst
recursive-include */management *
recursive-include */migrations *
recursive-include */test_templates *
recursive-include */templates *

recursive-exclude * *.pyc
